/train/
/.idea/
/binary_train/
/FER2013/
/Final/
/functions/
/Jul/
/Last/
/norm_test/
/norm_train/
/test/
/TestingNetwork/
/venv/
/1.mp4
/affectNet.h5
/affectNet.json
/affectNet1.h5
/affectNet1.json
/AHPFucntion.py
/AngryOrNot.py
/AngryOrNotModelFromScratch.py
/BackgroundSubtract.py
/clientList.txt
/ConfusionMatrix.py
/EmotionDetect.py
/EmotionDetection.iml
/fer64Json.json
/fer64Weights.h5
/FullFunctionFile.py
/GUI.py
/Last.zip
/lbpcascade_frontalface.xml
/LoadPT.py
/main2.py
/main3.py
/main4.py
/model.h5
/model53.pt
/model_2.json
/model_3.json
/model_85.json
/model_acc.h5
/model_acc95p18.h5
/model_accScratch.h5
/model_angry3.h5
/model_angry6.h5
/model_angry7.h5
/model_angry85.h5
/model_angry_neutral.h5
/NewtonFunctionFile.py
/OperatorFunctions.py
/ParallelProgrammed.7z
/PlotModel.py
/QueueOrganizer.py
/ReTrainModel.py
/test.py
/TheMain.py
/trainHistory
/TrainModel.py
/TryFaceDetector.py
/ParallelProgrammed/AgeModelJson.json
/ParallelProgrammed/AgeModelWeights.h5
/ParallelProgrammed/fer70.h5
/ParallelProgrammed/fer70.json
/fer70.json
/fer70.h5
/EmotionDetectServer.py
/EmotionDetectClient.py
/AgeModelWeights.h5
/AgeModelJson.json
